<div class="flex flex-col items-center p-5">
  <div class="w-2/3">
    <h2 class="text-center text-lg">Iniciar Sesión</h2>

    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <div class="bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4 flex flex-col">
            <div class="mb-4">
            <label class="block text-grey-darker text-sm font-bold mb-2" for="username">
              Email
            </label>
            <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: 'nacho.sanchez@uc.cl', class: "shadow appearance-none border rounded w-full py-2 px-3 text-grey-darker" %>
          </div>
          <div class="mb-6">
            <label class="block text-grey-darker text-sm font-bold mb-2" for="password">
              Contraseña
            </label>
            <% if @minimum_password_length %>
              <p class="text-red text-xs italic">(<%= @minimum_password_length %> caracteres mínimo)</p>
            <% end %><br />
            <%= f.password_field :password, autocomplete: "current-password", class: "shadow appearance-none border border-red rounded w-full py-2 px-3 text-grey-darker mb-3", placeholder: '********' %>
          </div>
          <div class="flex items-center justify-between">
            <%= f.submit 'Enviar', class: "bg-blue-600 hover:bg-blue-dark text-white font-bold py-2 px-4 rounded"%>
            <a class="inline-block align-baseline font-bold text-sm text-blue hover:text-blue-darker" href="/users/sign_up">
              Registrarse
            </a>
          </div>
      </div>
    <% end %>
  </div>
</div>
